<!-- PC -->
<div
  class="story-card-wrapper story-card-wrapper--basic-nth story-card-wrapper--none | hide-deck hide-liveblogging box--hidden-sm box-hidden-md-only false story-card--lg"
  id="evg-edu-sample2" data-evg-campaign-id="{{campaign}}" data-evg-experience-id="{{experience}}"
  data-evg-user-group="{{userGroup}}" aria-label="Infobar{{#if messageText}} - {{messageText}}{{/if}}" role="alert">
  <div class="story-card story-card--none story-card--no-art |  flex flex--wrap">
    <div
      class="story-card-block story-card-left story-card-block--art | grid__col--sm-null grid__col--md-null grid__col--lg-null">
    </div>
    <div class="story-card-block story-card-right | grid__col--sm-12 grid__col--md-12 grid__col--lg-12">
      <div class="story-card-component | text--overflow-ellipsis text--left box--pad-bottom-xs"><a
          class="story-card__headline | box--margin-none text--black font--secondary h4 text__link--color"
          href={{articleUrl}}><span>{{articleTitle}}</span></a></div>
    </div>
  </div>
  <div class="story-card__separator box--bg-undefined |">
    <div
      class="separator | box--border box--border-grey-20 box--border-xs box--border-horizontal box--border-horizontal-bottom">
    </div>
  </div>
</div></br>
<!-- Tablet -->
<div
  class="story-card-wrapper story-card-wrapper--basic-nth story-card-wrapper--none | hide-deck hide-livebogging box--hidden-lg box--hidden-sm  false story-card--md"
  id="evg-edu-sample2" data-evg-campaign-id="{{campaign}}" data-evg-experience-id="{{experience}}"
  data-evg-user-group="{{userGroup}}" aria-label="Infobar{{#if messageText}} - {{messageText}}{{/if}}" role="alert">
  <div class="story-card story-card--none story-card--no-art |  flex flex--wrap">
    <div
      class="story-card-block story-card-left story-card-block--art | grid__col--sm-null grid__col--md-null grid__col--lg-null">
    </div>
    <div class="story-card-block story-card-right | grid__col--sm-12 grid__col--md-12 grid__col--lg-12">
      <div class="story-card-component | text--overflow-ellipsis text--left box--pad-bottom-xs"><a
          class="story-card__headline | box--margin-none text--black font--secondary h4 text__link--color"
          href={{articleUrl}}><span>{{articleTitle}}</span></a></div>
    </div>
  </div>
  <div class="story-card__separator box--bg-undefined |">
    <div
      class="separator | box--border box--border-grey-20 box--border-xs box--border-horizontal box--border-horizontal-bottom">
    </div>
  </div>
</div></br>
<!-- Mobile -->
<div
  class="story-card-wrapper story-card-wrapper--basic-nth story-card-wrapper--art-right | hide-deck hide-liveblogging box--hidden-lg box--hidden-md  false story-card--sm"
  id="evg-edu-sample2" data-evg-campaign-id="{{campaign}}" data-evg-experience-id="{{experience}}"
  data-evg-user-group="{{userGroup}}" aria-label="Infobar{{#if messageText}} - {{messageText}}{{/if}}" role="alert">
  <div class="story-card story-card--art-right |  flex flex--wrap ">
    <div class="story-card-block story-card-left | grid__col--sm-8 grid__col--md-8 grid__col--lg-8">
      <div class="story-card-component | text--overflow-ellipsis text--left box--pad-bottom-xs"><a
          class="story-card__headline | box--margin-none text--black font--secondary h3 text__link--color"
          href={{articleUrl}}><span>[AB Test -Case2] First 줄기사 타입입니다.</span></a></div>
    </div>
    <div
      class="story-card-block story-card-right story-card-block--art | grid__col--sm-4 grid__col--md-4 grid__col--lg-4">
      <div id="artwrapper" class="story-card-component story-card__art | box--position-relative">
        <div class="image-wrapper | box--position-relative">
          <figure class=" story-card__art-image | visual__image">
            <div class="width--100 box--margin-center">
              <div class="article-print-sty1 | box--position-relative width--100" style="padding-bottom: 75%;">
                <div
                  class="article-print-sty2 | width--100 height--100 box--position-absolute box--position-absolute-top box--position-absolute-left">
                  <a class="" href={{articleUrl}} aria-label="Sample 4">
                    <div class="lazyload-wrapper "><img src={{articleImageUrl}} alt="Sample 4"
                        class="box--display-block"></div>
                  </a></div>
              </div>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
  <div class="story-card__separator box--bg-undefined |">
    <div
      class="separator | box--border box--border-grey-20 box--border-xs box--border-horizontal box--border-horizontal-bottom">
    </div>
  </div>
</div></br>