<!-- PC -->
<div
  class="story-card-wrapper story-card-wrapper--basic-last story-card-wrapper--art-above-head | hide-deck hide-liveblogging box--hidden-sm box-hidden-md-only false story-card--lg"
  id="evg-new-template" data-evg-campaign-id="{{campaign}}" data-evg-experience-id="{{experience}}"
  data-evg-user-group="{{userGroup}}">
  <div class="story-card story-card--art-above-head story-card--art-100 |  flex flex--wrap">
    <div
      class="story-card-block story-card-top story-card-block--art-100 | grid__col--sm-12 grid__col--md-12 grid__col--lg-12">
      <div id="artwrapper" class="story-card-component story-card__art | box--position-relative">
        <div class="image-wrapper | box--position-relative">
          <figure class=" story-card__art-image | visual__image grid__col--sm-12 grid__col--md-12 grid__col--lg-12">
            <div class="width--100 box--margin-center">
              <div class="article-print-sty1 | box--position-relative width--100" style="padding-bottom: 56.25%;">
                <div
                  class="article-print-sty2 | width--100 height--100 box--position-absolute box--position-absolute-top box--position-absolute-left">
                  <a class="" href="/culture-life/culture_general/2024/07/04/PYHD3OYEJZBXLLKJPVLA5KJZWU/"
                    aria-label="훌쩍 큰 송일국네 삼둥이 근황…“홍대 미대, 카이스트 목표”">
                    <div class="lazyload-wrapper "><img
                        src="https://images.chosun.com/resizer/AjXpe7UFEjWK7tyIRU6oK0KQlj0=/400x225/filters:focal(60x126:70x136)/cloudfront-ap-northeast-1.images.arcpublishing.com/chosun/O2B7UHQ46FCMPH5NLPREAK6D2E.jpg"
                        alt="훌쩍 큰 송일국네 삼둥이 근황…“홍대 미대, 카이스트 목표”" class="box--display-block"></div>
                  </a></div>
              </div>
            </div>
          </figure>
        </div>
      </div>
      <div class="story-card-component | text--overflow-ellipsis text--left box--pad-bottom-xs"><a
          class="story-card__headline | box--margin-none text--black font--secondary h5 text__link--color"
          href="/culture-life/culture_general/2024/07/04/PYHD3OYEJZBXLLKJPVLA5KJZWU/"><span>송일국 삼둥이, 10년 만의
            근황<br>"카이스트·홍대 미대 진학 목표"</span></a></div>
    </div>
  </div>
  <div class="story-card__separator box--bg-undefined |">
    <div
      class="separator | box--border box--border-grey-20 box--border-xs box--border-horizontal box--border-horizontal-bottom">
    </div>
  </div>
</div></br>
<!-- Tablet -->
<div
  class="story-card-wrapper story-card-wrapper--basic-last story-card-wrapper--art-above-head | hide-deck hide-liveblogging box--hidden-sm box-hidden-md-only false story-card--lg"
  id="evg-new-template" data-evg-campaign-id="{{campaign}}" data-evg-experience-id="{{experience}}"
  data-evg-user-group="{{userGroup}}">
  <div class="story-card story-card--art-above-head story-card--art-100 |  flex flex--wrap">
    <div
      class="story-card-block story-card-top story-card-block--art-100 | grid__col--sm-12 grid__col--md-12 grid__col--lg-12">
      <div id="artwrapper" class="story-card-component story-card__art | box--position-relative">
        <div class="image-wrapper | box--position-relative">
          <figure class=" story-card__art-image | visual__image grid__col--sm-12 grid__col--md-12 grid__col--lg-12">
            <div class="width--100 box--margin-center">
              <div class="article-print-sty1 | box--position-relative width--100" style="padding-bottom: 56.25%;">
                <div
                  class="article-print-sty2 | width--100 height--100 box--position-absolute box--position-absolute-top box--position-absolute-left">
                  <a class="" href="/culture-life/culture_general/2024/07/04/PYHD3OYEJZBXLLKJPVLA5KJZWU/"
                    aria-label="훌쩍 큰 송일국네 삼둥이 근황…“홍대 미대, 카이스트 목표”">
                    <div class="lazyload-wrapper "><img
                        src="https://images.chosun.com/resizer/AjXpe7UFEjWK7tyIRU6oK0KQlj0=/400x225/filters:focal(60x126:70x136)/cloudfront-ap-northeast-1.images.arcpublishing.com/chosun/O2B7UHQ46FCMPH5NLPREAK6D2E.jpg"
                        alt="훌쩍 큰 송일국네 삼둥이 근황…“홍대 미대, 카이스트 목표”" class="box--display-block"></div>
                  </a></div>
              </div>
            </div>
          </figure>
        </div>
      </div>
      <div class="story-card-component | text--overflow-ellipsis text--left box--pad-bottom-xs"><a
          class="story-card__headline | box--margin-none text--black font--secondary h5 text__link--color"
          href="/culture-life/culture_general/2024/07/04/PYHD3OYEJZBXLLKJPVLA5KJZWU/"><span>송일국 삼둥이, 10년 만의
            근황<br>"카이스트·홍대 미대 진학 목표"</span></a></div>
    </div>
  </div>
  <div class="story-card__separator box--bg-undefined |">
    <div
      class="separator | box--border box--border-grey-20 box--border-xs box--border-horizontal box--border-horizontal-bottom">
    </div>
  </div>
</div></br>
<!-- Mobile -->
<div
  class="story-card-wrapper story-card-wrapper--basic-last story-card-wrapper--art-above-head | hide-deck hide-liveblogging box--hidden-sm box-hidden-md-only false story-card--lg"
  id="evg-new-template" data-evg-campaign-id="{{campaign}}" data-evg-experience-id="{{experience}}"
  data-evg-user-group="{{userGroup}}">
  <div class="story-card story-card--art-right |  flex flex--wrap ">
    <div class="story-card-block story-card-left | grid__col--sm-8 grid__col--md-8 grid__col--lg-8">
      <div class="story-card-component | text--overflow-ellipsis text--left box--pad-bottom-xs"><a
          class="story-card__headline | box--margin-none text--black font--secondary h3 text__link--color"
          href="/culture-life/culture_general/2024/07/04/PYHD3OYEJZBXLLKJPVLA5KJZWU/"><span>훌쩍 큰 송일국네 삼둥이 근황…"홍대 미대,
            카이스트 목표"</span></a></div>
    </div>
    <div
      class="story-card-block story-card-right story-card-block--art | grid__col--sm-4 grid__col--md-4 grid__col--lg-4">
      <div id="artwrapper" class="story-card-component story-card__art | box--position-relative">
        <div class="image-wrapper | box--position-relative">
          <figure class=" story-card__art-image | visual__image">
            <div class="width--100 box--margin-center">
              <div class="article-print-sty1 | box--position-relative width--100" style="padding-bottom: 75%;">
                <div
                  class="article-print-sty2 | width--100 height--100 box--position-absolute box--position-absolute-top box--position-absolute-left">
                  <a class="" href="/culture-life/culture_general/2024/07/04/PYHD3OYEJZBXLLKJPVLA5KJZWU/"
                    aria-label="훌쩍 큰 송일국네 삼둥이 근황…“홍대 미대, 카이스트 목표”">
                    <div class="lazyload-wrapper "><img
                        src="https://images.chosun.com/resizer/rmgu7MPNA6FO763C9TG9WQj8tbc=/184x138/filters:focal(60x126:70x136)/cloudfront-ap-northeast-1.images.arcpublishing.com/chosun/O2B7UHQ46FCMPH5NLPREAK6D2E.jpg"
                        alt="훌쩍 큰 송일국네 삼둥이 근황…“홍대 미대, 카이스트 목표”" class="box--display-block"></div>
                  </a></div>
              </div>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
  <div class="story-card__separator box--bg-undefined |">
    <div
      class="separator | box--border box--border-grey-20 box--border-xs box--border-horizontal box--border-horizontal-bottom">
    </div>
  </div>
</div>