.top_banner{
  width:100%;
  background-color: #0053AC;
  height: 40px;
  position: fixed;
  z-index: 11;
  transform: translateX(-50%);
  top:40px;
  left:50%;
  justify-content: center;
  align-items: center;
  color:#FFF;
  font-family: "Noto Sans KR";
  font-size: 16px;
  display: none;
}
.active{
  display: flex;
}

.top_banner a{
  color:#FFF;
}
