<div class="{{infobarClass}} {{style.className}}" id="evg-eventBanner" data-evg-campaign-id="{{campaign}}"
  data-evg-experience-id="{{experience}}" data-evg-user-group="{{userGroup}}"
  aria-label="Infobar{{#if messageText}} - {{messageText}}{{/if}}" role="alert">
  <div class="layout_line"></div>
  <div class="prd_wrap">
    <div class="recommended_prd_top">
      <div class="content_title">
        <img
          src="https://image.event2.chosun.com/lib/fe2b117473640479751c79/m/1/5c516362-4b2c-4620-bfbe-cff1b191d252.png"
          alt="조선몰에서 엄선한 추천 아이템" class="content_title_pc" />
        <img
          src="https://image.event2.chosun.com/lib/fe2b117473640479751c79/m/1/607372ed-6db3-4c7b-b65e-23bb55f0ef94.png"
          alt="조선몰 추천 아이템" class="content_title_mobile" />
      </div>
      <a href="https://chosunhnb.com/" target="_blank">
        <div class="text_box">
          <p class="full_view">전체보기</p>
          <img
            src="https://image.event2.chosun.com/lib/fe2b117473640479751c79/m/1/9a4910e4-0cd8-46f0-aaf0-b1a75ab6e5c9.png"
            alt=">" />
          <!-- <p class="symbol">&gt;</p> -->
        </div>
        <img
          src="https://image.event2.chosun.com/lib/fe2b117473640479751c79/m/1/4d07107d-eaa4-4eeb-b879-b226c524d125.png"
          alt="조선몰 바로가기 버튼" />
      </a>
    </div>
    <div class="recommended_prd_list">
      <div class="prd prd1">
        <a href="https://chosunhnb.com/product/detail.html?product_no={{attributes.pno_d1.value}}" target="_blank">
          <div class="prd_img_box">
            <img src="{{attributes.detail_image_d1.value}}" class="prd_img" alt="상품 이미지" />
          </div>
          <p class="prd_name">{{attributes.product_name_d1.value}}</p>
          <div class="price_box">
            <p class="retail_price">{{attributes.retail_price_d1.value}}</p>
            <div class="current_price_box">
              <p class="discount"></p>
              <p class="price">{{attributes.price_d1.value}}</p>
            </div>
          </div>
        </a>
      </div>
      <div class="prd prd2">
        <a href="https://chosunhnb.com/product/detail.html?product_no={{attributes.pno_d2.value}}" target="_blank">
          <div class="prd_img_box">
            <img src="{{attributes.detail_image_d2.value}}" class="prd_img" alt="상품 이미지" />
          </div>
          <p class="prd_name">{{attributes.product_name_d2.value}}</p>
          <div class="price_box">
            <p class="retail_price">{{attributes.retail_price_d2.value}}</p>
            <div class="current_price_box">
              <p class="discount"></p>
              <p class="price">{{attributes.price_d2.value}}</p>
            </div>
          </div>
        </a>
      </div>
      <div class="prd prd3">
        <a href="https://chosunhnb.com/product/detail.html?product_no={{attributes.pno_d3.value}}" target="_blank">
          <div class="prd_img_box">
            <img src="{{attributes.detail_image_d3.value}}" class="prd_img" alt="상품 이미지" />
          </div>
          <p class="prd_name">{{attributes.product_name_d3.value}}</p>
          <div class="price_box">
            <p class="retail_price">{{attributes.retail_price_d3.value}}</p>
            <div class="current_price_box">
              <p class="discount"></p>
              <p class="price">{{attributes.price_d3.value}}</p>
            </div>
          </div>
        </a>
      </div>
      <div class="prd prd4">
        <a href="https://chosunhnb.com/product/detail.html?product_no={{attributes.pno_d4.value}}" target="_blank">
          <div class="prd_img_box">
            <img src="{{attributes.detail_image_d4.value}}" class="prd_img" alt="상품 이미지" />
          </div>
          <p class="prd_name">{{attributes.product_name_d4.value}}</p>
          <div class="price_box">
            <p class="retail_price">{{attributes.retail_price_d4.value}}</p>
            <div class="current_price_box">
              <p class="discount"></p>
              <p class="price">{{attributes.price_d4.value}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>