#evg-eventBanner {
  position: relative;
  /* z-index: 100000; */
  /* bottom: -200px; */
  /* left: 5%;  */
  /* transform: translateX(-50%); */
  /* animation: slideUp 2s forwards; */

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  box-sizing: border-box;
  width: 100%;
  /* text-align: center; */
  border-radius: 8px;
  /* overflow: hidden; */
}
#evg-eventBanner .layout_line {
  width: 100%;
  height: 1px;
  background-color: rgba(34, 34, 34, 1);
  margin-top: 56px;
  margin-bottom: 20px;
}
#evg-eventBanner .prd_wrap {
  border: 1px solid rgba(79, 117, 173, 1);
  border-radius: 8px;
  overflow: hidden;
}
#evg-eventBanner .recommended_prd_top {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(79, 117, 173, 1);
  position: relative;
  align-items: center;
}
#evg-eventBanner .recommended_prd_top .content_title {
  width: 352px;
  height: 33px;
  margin-left: 20px;
  /* margin-top: 19px; */
}
#evg-eventBanner .recommended_prd_top .content_title img {
  width: 100%;
}
#evg-eventBanner .recommended_prd_top .content_title img.content_title_mobile {
  display: none;
}
#evg-eventBanner .recommended_prd_top a {
  width: 168px;
  height: 36px;
  /* margin-top: 17px; */
  margin-right: 22px;
  display: flex;
  align-items: center;
}
#evg-eventBanner .recommended_prd_top a .text_box {
  display: none;
}
#evg-eventBanner .recommended_prd_top > a > img {
  width: 100%;
  display: block;
}
#evg-eventBanner .recommended_prd_list {
  display: flex;
  flex-direction: row;
  margin: 26px 32px;
  justify-content: space-between;
  gap: 16px;
}
#evg-eventBanner > a {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 500;
  color: white;
}
#evg-eventBanner .prd {
  /* background-color:blue; */
  flex: 1;
  height: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* justify-content: start; */
}

#evg-eventBanner .prd a {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: start;
  gap: 8px;
  /* width: 100%; */
  height: 100%;
  font-size: 10px;
  color: white;
}
#evg-eventBanner .prd a .prd_img {
  width: 292px;
  height: 219px;
  object-fit: cover;
  border-radius: 8px;
}
#evg-eventBanner .prd p {
  margin: 0;
}
#evg-eventBanner .prd .prd_name {
  /* height: 48px; */
  font-size: 16px;
  line-height: 24px;
  /* letter-spacing: -0.5%; */
  color: rgba(34, 34, 34, 1);
  /* word-wrap:break-word;
  text-overflow: ellipsis; */
  /* overflow: hidden; */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#evg-eventBanner .prd .hide {
  display: none;
}
#evg-eventBanner .prd p.retail_price {
  text-decoration: line-through;
  font-size: 14px;
  line-height: 20px;
  /* letter-spacing: -0.5%; */
  color: #999999;
}
#evg-eventBanner .prd .price_box {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
#evg-eventBanner .prd .price_box .current_price_box {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  gap: 4px;
}
#evg-eventBanner .prd p.discount {
  /* width: 35px;
  height: 24px; */
  /* font-size: 16px; */
  line-height: 24px;
  /* letter-spacing: -0.5%;   */
  color: #c81616;
}
#evg-eventBanner .prd p.price {
  /* font-size: 16px; */
  line-height: 24px;
  /* letter-spacing: -0.5%;  */
  color: #222222;
}
#evg-eventBanner > a > span {
  display: inline-block;
  color: #6dccee;
  padding: 0 10px;
}
#evg-eventBanner .evg-message {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}

#evg-eventBanner .evg-infobar {
  display: inline;
}

#evg-eventBanner .evg-btn-dismissal {
  position: absolute;
  /* top: 0; */
  right: 0;
  padding: 0 0.5rem;
  border: 1px solid transparent;
  background-color: transparent;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}

/* ==========================================================================
 Infobar Position
========================================================================== */

/* #evg-eventBanner.evg-infobar-top {
  top: 0;
} */

#evg-eventBanner.evg-infobar-bottom {
  bottom: 0;
}

/* ==========================================================================
 Call-To-Action Link
========================================================================== */

#evg-eventBanner .evg-cta {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5rem;
  font-size: 1rem;
}

/* ==========================================================================
 Style
========================================================================== */

#evg-eventBanner.evg-light-on-dark {
  color: #fff;
  background-color: #343a40;
}

#evg-eventBanner.evg-dark-on-light {
  color: #343a40;
  background-color: #f8f8f8;
}

#evg-eventBanner .evg-cta.evg-light-on-dark {
  color: #6dccee;
}

#evg-eventBanner .evg-cta.evg-dark-on-light {
  color: #17a2b8;
}

#evg-eventBanner .evg-btn-dismissal.evg-light-on-dark {
  color: #fff;
}

#evg-eventBanner .evg-btn-dismissal.evg-dark-on-light {
  color: cornflowerblue;
}

@media (max-width: 739px) {
  #evg-eventBanner {
      width: 91vw;
  }
  #evg-eventBanner .layout_line {
      margin-top: 10vw;
      margin-bottom: 4.44vw;
  }
  #evg-eventBanner .prd_wrap {
      width: 100%;
      border-radius: 0.5rem;
  }
  #evg-eventBanner .recommended_prd_top {
      height: 56px;
  }
  #evg-eventBanner .recommended_prd_top .content_title {
      width: 176px;
      height: 25px;
      margin-left: 16px;
      /* margin-top: 4.44vw; */
      display: flex;
      align-items: center;
  }
  #evg-eventBanner .recommended_prd_top .content_title img {
      width: 100%;
      height: 100%;
  }
  #evg-eventBanner .recommended_prd_top .content_title img.content_title_pc {
      display: none;
  }
  #evg-eventBanner .recommended_prd_top .content_title img.content_title_mobile {
      display: block;
  }
  #evg-eventBanner .recommended_prd_top a {
      margin-right: 5.41vw;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  }
  #evg-eventBanner .recommended_prd_top a .text_box {
      display: flex;
      flex-direction: row;
      gap: 7.5px;
      color: rgba(255, 255, 255, 1);
      margin-top: 0;
      align-items: center;
  }
  #evg-eventBanner .recommended_prd_top a .text_box .full_view {
      font-size: 12px;
      line-height: 18px;
      /* letter-spacing: -0.5%; */
      margin: 0;
  }
  #evg-eventBanner .recommended_prd_top a .text_box img {
      width: 5px;
      height: 11px;
      display: flex;
      align-items: center;
  }
  #evg-eventBanner .recommended_prd_top > a > img {
      display: none;
  }
  #evg-eventBanner .recommended_prd_list {
      margin: 12px;
      gap: 8px;
  }
  #evg-eventBanner .prd.prd4 {
      display: none;
  }
  #evg-eventBanner .recommended_prd_list .prd a {
      gap: 4px;
      display: flex;
      width: 26.66vw;
  }
  #evg-eventBanner .recommended_prd_list .prd a img {
      width: 26.66vw;
      height: 26.66vw;
      border-radius: 0.5rem;
  }
  #evg-eventBanner .recommended_prd_list .prd .prd_name {
      /* height: auto; */
      font-size: 12px;
      line-height: 18px;
      /* letter-spacing: -0.5%; */
      font-weight: 500;
      order: 2;
      width: 26.66vw;
      white-space: wrap;
      flex-shrink: 1;
      -webkit-line-clamp: 4;
  }
  #evg-eventBanner .recommended_prd_list .prd .price_box {
      order: 1;
  }
  #evg-eventBanner .recommended_prd_list .prd .price_box .retail_price {
      display: none;
  }
  #evg-eventBanner .recommended_prd_list .prd .price_box .current_price_box {
      display: flex;
      gap: 4px;
  }

  #evg-eventBanner .recommended_prd_list .prd .price_box .current_price_box .discount {
      /* width: 7.22vw;
      height: 5vw; */
      font-size: 12px;
      line-height: 18px;
      /* letter-spacing: -0.5%; */
  }
  #evg-eventBanner .recommended_prd_list .prd .price_box .current_price_box .price {
      font-size: 12px;
      line-height: 18px;
      /* letter-spacing: -0.5%; */
  }
  @media (prefers-color-scheme: dark) {
      #evg-eventBanner .recommended_prd_list .prd .price_box .current_price_box .price {
          color: #ffffff;
      }
      #evg-eventBanner .recommended_prd_list .prd .prd_name {
          color: #ffffff;
      }
  }
}
@media screen and (min-width: 740px) and (max-width: 1023px) {
  #evg-eventBanner .recommended_prd_top {
      height: 70px;
  }
  #evg-eventBanner .recommended_prd_top > a > img {
      display: none;
  }
  #evg-eventBanner .recommended_prd_top .content_title img.content_title_pc {
      display: block;
  }
  #evg-eventBanner .recommended_prd_top .content_title img.content_title_mobile {
      display: none;
      /* width: 273px; */
  }
  /* #evg-eventBanner .recommended_prd_top a .text_box{
          display: flex;
          flex-direction: row;
          gap: 2vw;
          color: rgba(255, 255, 255, 1);
          margin-top: 0;
          align-items: center;
      }
      #evg-eventBanner .recommended_prd_top a .text_box .full_view {
          font-size: 20px;
          line-height: 1;
          margin: 0;
      }
      #evg-eventBanner .recommended_prd_top a .text_box img {
          width: 8px;
          height: auto;
          display: flex;
          align-items: center;
      } */
  #evg-eventBanner .recommended_prd_top > a > img {
      display: block;
  }
  #evg-eventBanner .prd.prd4 {
      display: none;
  }
  #evg-eventBanner .prd a .prd_img_box {
      width: 100%;
      overflow: hidden;
      padding-bottom: 75%;
      position: relative;
  }
  #evg-eventBanner .prd a .prd_img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  #evg-eventBanner .prd .prd_name {
      font-size: 16px;
      order: 2;
  }
  #evg-eventBanner .prd p.retail_price {
      /* font-size: 14px; */
      display: none;
  }
  #evg-eventBanner .prd .price_box {
      order: 1;
  }
  #evg-eventBanner .prd .price_box .current_price_box {
      font-size: 16px;
  }
  @media (prefers-color-scheme: dark) {
      #evg-eventBanner .recommended_prd_list .prd .price_box .current_price_box .price {
          color: #ffffff;
      }
      #evg-eventBanner .recommended_prd_list .prd .prd_name {
          color: #ffffff;
      }
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  #evg-eventBanner .prd a .prd_img_box {
      width: 100%;
      overflow: hidden;
      padding-bottom: 75%;
      position: relative;
  }
  #evg-eventBanner .prd a .prd_img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}
@media (prefers-color-scheme: dark) {
  #evg-eventBanner .recommended_prd_list .prd .price_box .current_price_box .price {
      color: #ffffff;
  }
  #evg-eventBanner .recommended_prd_list .prd .prd_name {
      color: #ffffff;
  }
}
